table{
  border: 1px solid black;
  min-height: 15.5em;
  min-width: 1000px;
  margin: auto;
}
td{
  border: 1px solid black;
  height: 3.5em;
}
th{
  border: 1px solid black;
}

body{
  background-image: url(psyche.gif);
}

.etat{
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  background-color: blue;
}

.L1 {
  color: blue;
  font-weight: bolder;
  background-image: url(nyancat.gif);
  line-height: 8em;
}
.Ptopping {
  font-weight: bold;
  font-size: 1.2em;
  font-family: serif;
  color: Red;
  background-image: url(WTF.gif);
  background-size: contain;
}

.L6 {
  background-image: url(trump.gif);
  background-size: contain;
}
 .Psauce {
   background-image: url(bananarapide.gif);
   background-size: contain;
 }
.Psauce2 {
  background-image: url(streetfighter.gif);
  background-size: contain;
}
.Ptopping2 {
  font-weight: bold;
  color: grey;
  background-image: url(travolta.gif);
  background-size: contain;
}
.name1 {
  color: white;
  font-weight: 900;
  font-style: italic;
  background-image: url(interceptor.gif);
}
.name2 {
  background-image: url(partyparrot.gif);
}
.L7 {
  background-image: url(psyche2.gif);
}

#banane{
  height: 30px;
}
